---
layout: default
---	

<header id="header">
			
			{% include menu.html %}
			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk">
							<h1>Open Youth Academy 2016 event<br/>Istria, Croatia</h1>
						</div>
					</div>
			<!--== Register button ==-->				
					<div class="row">
						<div class="blk">
							<input type="submit" value="Read more" name="submit" id="goregister">
						</div>
					</div>
			<!--======================-->	
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="images/slider/bg-slide-01.jpg" alt="Slide Image"/></li>
						<li><img src="images/slider/bg-slide-02.jpg" alt="Slide Image 2"/></li>
						<li><img src="images/slider/bg-slide-03.jpg" alt="Slide Image 3"/></li>
						<!-- <li><img src="images/slider/bg-slide-04.jpg" alt="Slide Image 3"/></li> -->
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">
				<!--===============================-->
				<!--== Features ===================-->
				<!--===============================-->
				<section id="features" class="row">
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-map-marker"></div>
							<div class="info">
								<h3>Venue <a href="" target="_blank">Istria</a></h3>
								<span>Istria, Croatia (<a href="https://www.google.hr/maps/place/Pula/@44.885456,13.7460957,12z/data=!3m1!4b1!4m5!3m4!1s0x477cd2de09337b6d:0x72324a3a7b4e580d!8m2!3d44.8666232!4d13.8495788" target="_blank">see it on a map</a>)</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-calendar"></div>
							<div class="info">
								<h3>28th Aug to 3nd Sep 2016</h3>
								<span>7 days</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-microphone"></div>
							<div class="info">
								<h3>Open Data Experts</h3>
								<span>Public Sector Information</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-users"></div>
							<div class="info">
								<h3>Open Government Partnership</h3>
								<span>Working together</span>
							</div>
						</div>
					</div>
				</section>
				<!--==========-->

				<section id="faq" class="row">
					<div class="col-sm-6">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">What is Open Youth Academy?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>Open Youth Academy is a seven day event consisting of workshops, lectures and discussions and focusing on use and reuse of public sector information. The Camp is organized by the Code for Croatia <a href="http://codeforcroatia.org/" target="_blank">expert group within HrOpen Association</a> and Information Commissioner. The Open Data Youth Camp will take place from <strong>28th of August to 3nd of September 2015</strong> in Istria.</p>

						        	<p>The goal of the academy is to provide a space for young active citizens to explore the potential of open data, to learn and discuss open government values, sustainable development goals and to become familiarized with the theory and the practices of the right to access information. The potentials of the use and reuse of public sector information will be explored through examples of the similar activities carried out in France, United Kingdom, and the United States as well as through examining the progress Croatia made by launching the Open Data Portal.</p>

						        	<p>Experts from Croatia and other countries will come together in creating a five day program of lectures and workshops in order to assist the participants in finding new solutions for commercial use of data as well as for using and reusing data for the benefit of the local community.</p>
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">What is Open Government Partnership?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p><a href="http://www.opengovpartnership.org/" target="_blank">Open Government Partnership</a> was launched in 2011 as a unique organization of governments and civil society organizations committed to making governments more open, transparent, accountable, and responsive to citizens. Eight countries founded OGP in 2011 and now it has a membership of 65 countries and has recently marked the publishing of the 100th OGP Action Plan. The Republic of Croatia became a member of the OGP in 2011, and has thus assumed the responsibility of developing and implementing the Action Plan which includes a number of measures and activities in the area of transparency and openness of government. The Open Data process in Croatia is a part of the Croatian National Action Plan 2014-2016. The Republic of Croatia, following the international recognition of its success and ambition in implementing OGP, became a member of the OGP Steering Committee in August 2014.</p>
						        </div>
						    </li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">What is Open Data?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>One of the main priorities in the implementation of the Croatian OGP Action Plan in the period from 2014 to 2016 is the open data and as one of the commitments an <a href="https://data.gov.hr/" target="_blank">open data portal</a> has been published. Open Data is increasingly referred to as the new oil, new gold, and an irreplaceable resource for the 21st century. The use and reuse of public sector information has not only been used for commercial gain but also for greater good, community development and has been recognized as crucial in advancing <a href="http://www.undatarevolution.org/report/" target="_blank">global agendas</a>.</p>
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">How to participate?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>Candidates that are at least 15 and at most 30 years of age, with an interest and ideas about the use and reuse of public sector information, can apply for participation in the Open Youth Academy. Up to 30 candidates will be selected for participation, based on the ideas presented in the application form and while keeping in mind the need to respect regional and gender balance. In order to qualify candidates are asked to submit the filled out form no later than 10th July 2016, 00:00h CEST. The selection will be carried out by the expert representatives from the public, private and civil society sector in the field of open data. The costs of participation for the candidates will be covered by the organizers. Please direct any questions considering this event to openyouthacademy@gmail.com We are looking forward to your applications.</p>
						        </div>
						    </li>
						</ul>
					</div>
				</section>


				<!-- <section id="register" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Chat with the team</h2>
							
							<p>You can start chat with other paticipants already today! Sign in to Slack and say hello to all:</p>

							<p>If you're a participant, you'll get invitation in your inbox for <a href="https://odbcteam.slack.com" target="_blank">ODBC Team on Slack</a>, or click this link.</p>

							<h4>See you online!</h4>

						</div>
					</div>
				</section> -->

				{% include video.html %}


				<!--===============================-->
				<!--== Blog =======================-->
				<!--===============================
				<section id="blog" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Blog</h2>
							<h4>Que esta pasando en la Comunidad AbreLatam</h4>
						</div>
						<div class="text-width">
							{% include feed-blog.html %}
						</div>
						<div class="text-right margin-top col-md-12 col-sm-12"><a class="btn btn-small" href="http://blog.abrelatam.org/" target="_blank">Ver todos los articulos</a></div>
					</div>
				</section>

-->
				<!--===============================-->
				<!--== Speakers ===================-->
				<!--===============================-->
				<section id="speakers" class="separated">
					<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Topics</h2>
								<h4>These are topics that we talked about 2015.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-01.jpg" alt="Speaker 1">
									</div>								
 									<div class="speaker-contacts">
										<!-- <a href="#" class="contact pull-left fa fa-facebook"></a> -->
										<a href="https://twitter.com/tomvracic" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Open Data Portal</h3>
								<p>Tomislav Vračić, Ministry of Public Administration, e-Citizen and Open Data Portal, Croatia</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-02.jpg" alt="Speaker 2">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Technology</h3>
								<p>Awa Ndiaye, Mairie de Paris, Direction des Systèmes et Technologies de l'Information, ideXlab, CUBB, France</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-03.jpg" alt="Speaker 3">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Applications</h3>
								<p>Ratko Mutavdžić, Founder and Experience Architect at Projektura, Croatian Employers' Association</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-04.jpg" alt="Speaker 4">
									</div>
									<div class="speaker-contacts">
										<!-- <a href="#" class="contact pull-left fa fa-facebook"></a> -->
										<a href="https://twitter.com/darvvon" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Civil Society Engagement</h3>
								<p>Miroslav Schlossberg, Code for Croatia of Croatia Society for Open Systems and Internet, Croatia</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-05.jpg" alt="Speaker 5">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>OGP - Open Education</h3>
								<p>Jan Gondol, PhD., Ministry of Interior, Slovak Republic, Switzerlab</p>
								<p>Carlo Amati, OpenCoesione Advisory Committee, Italy</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-06.jpg" alt="Speaker 6">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Transparency</h3>
								<p>Anamarija Musa, Information Commissioner, Croatia</p>
							</div>
						</div>
			<!-- 			<div class="text-center margin-top col-md-12 col-sm-12"><h4>¿Y a ti qué temas te gustaría tratar en #Abrelatam15? <a class="btn btn-small" href="https://docs.google.com/forms/d/1zyHKzLfII1Y6D-LIasFO07rEMUe3KeYpY5EoeuNwjDk/viewform" target="_blank">Cuéntanos</a></h4></div> -->
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-01.jpg" alt="Speaker 1">
									</div>								
 									<div class="speaker-contacts">
										<!-- <a href="#" class="contact pull-left fa fa-facebook"></a> -->
										<a href="https://twitter.com/antonioacunar" class="contact pull-right fa fa-twitter"></a>
									</div>
								</div>
								<h3>Open Data</h3>
								<p>Antonio Acuña, Head of data.gov.uk, Cabinet Office, Digital Change Architect</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-02.jpg" alt="Speaker 2">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Technology</h3>
								<p>Nina Šindija, Audience Evangelism Manager, Microsoft</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-03.jpg" alt="Speaker 3">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Applications</h3>
								<p>Marinko Brkić Tot, Founder & CEO of 5W, the5w.org</p>
							</div>
						</div>
					</div>
				</section>
				<!--==========-->


				<!--===============================-->
				<!--== Agenda =======================-->
				<!--===============================-->
				<section id="agenda" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Agenda</h2>
							<h4></h4>
						</div>
						<div class="text-width">
							{% include agenda.html %}
						</div>
					</div>
				</section>


				<!--===============================-->
				<!--== Teams ===================-->
				<!--===============================-->
				<section id="teams" class="separated">
					<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Teams</h2>
								<h4>Meet our international teams.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/teams/cowsfromthemooon2.png" alt="Team 1">
									</div>								
 									<div class="speaker-contacts">
										<a href="http://www.slideshare.net/IgorRinkovec/odbc-team-project-lifesaver" target="_blank" class="contact pull-left fa fa-slideshare"></a> <!-- ODBC Team Project Lifesaver -->
										<a href="https://drive.google.com/file/d/0BwvI1KUokt0mVjlrNHFZeUEwTGs/view" target="_blank" class="contact pull-left fa fa-slideshare"></a> <!-- contract-it -->
									</div>
								</div>
								<h3>Cows From The Mooon</h3>
								<p>Team members:</p>
								<p>Rosen Dangov, Igor Rinkovec, Lana Podgoršek, Maja Kušćer, Benedict Allen</p>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/teams/jellyfish.jpg" alt="Team 2">
									</div>
									<div class="speaker-contacts">
										<a href="https://drive.google.com/file/d/0BwvI1KUokt0memRtc05HQkMxUG8/view" class="contact pull-left fa fa-desktop"></a> <!-- Otvoreni slučaj (HR) -->
										<!-- <a href="#" class="contact pull-right fa fa-twitter"></a> -->
									</div>
								</div>
								<h3>Jellyfish</h3>
								<p>Team members:</p>
								<p>Ivan Nekić, Diana Martinović, Brice Le Borgne, Stefan Pavlović, Alexander Harri Bell Thomas, Ivana Glavaš</p>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/teams/datawave.jpg" alt="Team 3">
									</div>
									<div class="speaker-contacts">
										<a href="https://prezi.com/zdttsbkp6xrb/odyc-wel/" class="contact pull-left fa fa-slideshare"></a> <!-- WEL -->
										<!-- <a href="#" class="contact pull-right fa fa-twitter"></a> -->
									</div>
								</div>
								<h3>Data Wave</h3>
								<p>Team members:</p>
								<p>Tonći Talaja, Dorotea Ležaić, Dominik Poljak, Jordanne Monseau, Katarina Diklić, Braydie Grove</p>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/teams/opendoors.jpg" alt="Team 4">
									</div>
									<div class="speaker-contacts">
										<a href="https://docs.google.com/presentation/d/1OlURCaWkDC3RN-lgv870uBPvlHu3_BqDoCt0WnCg60M/pub?start=true&loop=false&delayms=5000" target="_blank" class="contact pull-left fa fa-desktop"></a> <!-- prezentacija projekta (hrvatski) -->
										<a href="https://docs.google.com/presentation/d/1KbcH4742LrxZGzz9oH_s8BXwNr-5qj12X8A_w7cIf5M/pub?start=true&loop=false&delayms=5000" target="_blank" class="contact pull-left fa fa-desktop"></a> <!-- project presentation (English) -->
									</div>
								</div>
								<h3>Open Doors</h3>
								<p>Team members:</p>
								<p>Ivana Ivanković, Antonio Tomašević, Jonathan Williet, Biljana Marković, Daniel Mackenzie, Emina Gljiva</p>
							</div>
						</div>
					</div>
				</section>
				<!--==========-->


				<section id="register" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Reflections</h2>
							<h4> #openyouth </h4>
						</div>
						<div class="text-width">
						We, young people from around the world, gathered here in Rovinj, Croatia, on 2nd September 2015 at the Open Data Youth Camp, to express our commitment to the principles of open, transparent, participative and accountable government, which provides efficient services to its citizens, thereby actively enhancing social and economic development. 
						<br>
						<br>
						<center>Read more on <a href="http://www.opengovpartnership.org/blog/tamara-puhovski/2015/09/11/openyouth">blog post</a>.</center>
						</div>
					</div>
				</section>


				<!--===============================-->
				<!--== News =======================-->
				<!--===============================-->
				<section id="news" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Participants by country</h2>
							<center>
							<div id="geochart-colors" style="width: 70%; height: 433px;"></div>
							</center>

						</div>
						
						<div class="text-width">

						</div>
					</div>
				</section>

				<section id="news" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Projects ranking</h2>
							<center>
							<iframe width="70%" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1LxKw6EDr-ckmCymRSQ3TpM1d1Veu9oPzMPpF5_z9u9A/pubchart?oid=1139532509&amp;format=interactive"></iframe>
							</center>
						</div>
						
						<div class="text-width">

						</div>
					</div>
				</section>


				<section id="news" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Innovation, Application, Benefits</h2>
							<center>
							<iframe width="70%" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1LxKw6EDr-ckmCymRSQ3TpM1d1Veu9oPzMPpF5_z9u9A/pubchart?oid=2131147678&amp;format=interactive"></iframe>	
							</center>
						</div>
						
						<div class="text-width">

						</div>
					</div>
				</section>

				<section id="evaluation" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Qualitative evaluation</h2>
							
							<p>What did we know before youth camp and what did we learn?</p>

							<p>Check out and share this <a href="https://raw.githubusercontent.com/codeforcroatia/odbc/gh-pages/images/qualitative_evaluation.png" target="_blank">infographic</a>.</p>

							<img src="/images/qualitative_evaluation.png" class="img-thumbnail" alt="Infographic">

						</div>
					</div>
				</section>

				<section id="evaluation" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Camp evaluation</h2>
							
							<p>What did participants say about youth camp.</p>

							<!-- Summary -->
							<iframe width="80%" height="333.5" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1ju25ZzuICDf7pEn3lxq-VWMddtqWmgas7vAq5dDPMdM/pubchart?oid=2054141854&amp;format=interactive"></iframe>

							<!-- Objectives -->
							<iframe width="80%" height="474" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1ju25ZzuICDf7pEn3lxq-VWMddtqWmgas7vAq5dDPMdM/pubchart?oid=1004915780&amp;format=interactive"></iframe>

							<!-- Segments -->
							<iframe width="80%" height="405.5" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1ju25ZzuICDf7pEn3lxq-VWMddtqWmgas7vAq5dDPMdM/pubchart?oid=466284954&amp;format=interactive"></iframe>

							<!-- Experts -->
							<iframe width="80%" height="659.2919463087248" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1ju25ZzuICDf7pEn3lxq-VWMddtqWmgas7vAq5dDPMdM/pubchart?oid=916778629&amp;format=interactive"></iframe>

							<!-- Organization -->
							<iframe width="70%" height="348" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1ju25ZzuICDf7pEn3lxq-VWMddtqWmgas7vAq5dDPMdM/pubchart?oid=1838615013&amp;format=interactive"></iframe>

							<!-- Follow-up -->
							<iframe width="70%" height="317.743524609474" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1ju25ZzuICDf7pEn3lxq-VWMddtqWmgas7vAq5dDPMdM/pubchart?oid=1614250526&amp;format=interactive"></iframe>

						</div>
					</div>
				</section>


				<!--
				<section id="news" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>How to donate</h2>
							<h4>The Open Data Youth Camp would not be taking place without our sponsors and partners. If you would like to support this event by providing a scholarship for one of the participants (the scholarship for one person for a five day camp amounts to 250 Euro) please contact us.</h4>
						</div>
						<div class="text-width">

						</div>
					</div>
				</section> 
				-->


				<section id="budget" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Budget</h2>
							<h4>This is budget that made this event possible thanks to our sponsors and partners.</h4>
						</div>
						<div class="text-width">
						<center>Check out our budget data <a href="https://github.com/codeforcroatia/odbc/raw/gh-pages/ODYC_budget.pdf">here</a>.</center>
						</div>
					</div>
				</section>



				<section id="budget" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Organizers</h2>
							<h4>Contact organizers using email link below.</h4>
						</div>
						<div class="text-width">
						<center><a href="mailto:odyc@codeforcroatia.org">ODYC email</a></center>
						</div>
					</div>
				</section>



				<section id="sponsors">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
						<h2>Sponsors and Partners</h2>
						<h4>This event is made possible thanks to our sponsors and partners:</h4>
						</div>
						<div class="text-width">
					{% include partners.html %}
						</div>
					</div>
				</section>

				
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>
			
			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-6">

							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/KodirajZaHrvatsku" class="fa fa-facebook" target="_blank"></a></li>
								<li><a href="https://twitter.com/codeforcroatia" class="fa fa-twitter"target="_blank"></a></li>
								<li><a href="https://vimeo.com/codeforcroatia/" class="fa fa-youtube" target="_blank"></a></li>
							</ul>

						</div>
						<div class="col-sm-6 text-right">
							<div class="copyrights">
								Webpage created by <a href="http://codeforcroatia.org/" target="_blank"><img src="{{ site.baseurl }}/images/cfc-footer.png"></a>
								<br>Based on <a href="https://github.com/ciudadanointeligente/abrelatam" target="_blank">ciudadanointeligente/abrelatam</a> source code
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/main.js"></script>

