---
layout: default
---	

<header id="header">
			
			{% include menu.html %}
			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk">
							<h1>Open Data Youth Camp an OGP event<br/>Rovinj, Croatia</h1>
						</div>
					</div>
			<!--== Register button ==-->				
						<div class="row">
						<div class="blk">
							<input type="submit" value="Chat" name="submit" id="goregister">
						</div>
					</div> 
			<!--======================-->	
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
						<li><img src="images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
						<li><img src="images/demo/bg-slide-03.jpg" alt="Slide Image 3"/></li>
						<li><img src="images/demo/bg-slide-04.jpg" alt="Slide Image 3"/></li>
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">
				<!--===============================-->
				<!--== Features ===================-->
				<!--===============================-->
				<section id="features" class="row">
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-map-marker"></div>
							<div class="info">
								<h3>Venue <a href="http://centar-mare.hr/zgrada-centra/" target="_blank">Centar M.A.R.E.</a></h3>
								<span>Luigija Montija 2, Rovinj, Croatia (<a href="https://www.google.hr/maps/place/Ul.+Luigija+Montija,+52210,+Rovinj/@45.0980108,13.6380163,17z/data=!3m1!4b1!4m2!3m1!1s0x477cbf769681855f:0x5d28cc1a8c5efd44?hl=en" target="_blank">view on map</a>)</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-calendar"></div>
							<div class="info">
								<h3>29th Aug to 2nd Sep 2015</h3>
								<span>5 days</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-microphone"></div>
							<div class="info">
								<h3>Open Data Experts</h3>
								<span>Public Sector Information</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="event-info">
							<div class="icon fa fa-users"></div>
							<div class="info">
								<h3>Open Government Partnership</h3>
								<span>Working together</span>
							</div>
						</div>
					</div>
				</section>
				<!--==========-->

				<section id="faq" class="row">
					<div class="col-sm-6">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">What is Open Data Youth Camp?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>Open Data Youth Camp is a five day event consisting of workshops, lectures and discussions and focusing on use and reuse of public sector information. The Camp is organized by the Council for the <a href="http://www.uzuvrh.hr/stranica.aspx?pageID=224" target="_blank">Open Government Partnership (OGP) in Croatia</a>. The Open Data Youth Camp will take place from <strong>29th of August to 2nd of September 2015</strong> in Rovinj.</p>

						        	<p>The goal of the camp is to provide a space for young active citizens to explore the potential of open data, to learn and discuss open government values and to become familiarized with the theory and the practices of the right to access information. The potentials of the use and reuse of public sector information will be explored through examples of the similar activities carried out in France, United Kingdom, and the United States as well as through examining the progress Croatia made by launching the Open Data Portal.</p>

						        	<p>Experts from Croatia and other countries will come together in creating a four day program of lectures and workshops in order to assist the participants in finding new solutions for commercial use of data as well as for using and reusing data for the benefit of the local community.</p>
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">What is Open Government Partnership?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p><a href="http://www.opengovpartnership.org/" target="_blank">Open Government Partnership</a> was launched in 2011 as a unique organization of governments and civil society organizations committed to making governments more open, transparent, accountable, and responsive to citizens. Eight countries founded OGP in 2011 and now it has a membership of 65 countries and has recently marked the publishing of the 100th OGP Action Plan. The Republic of Croatia became a member of the OGP in 2011, and has thus assumed the responsibility of developing and implementing the Action Plan which includes a number of measures and activities in the area of transparency and openness of government. The Open Data process in Croatia is a part of the Croatian National Action Plan 2014-2016. The Republic of Croatia, following the international recognition of its success and ambition in implementing OGP, became a member of the OGP Steering Committee in August 2014.</p>
						        </div>
						    </li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="accordion-group">
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">What is Open Data?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>One of the main priorities in the implementation of the Croatian OGP Action Plan in the period from 2014 to 2016 is the open data and as one of the commitments an <a href="https://data.gov.hr/" target="_blank">open data portal</a> has been published. Open Data is increasingly referred to as the new oil, new gold, and an irreplaceable resource for the 21st century. The use and reuse of public sector information has not only been used for commercial gain but also for greater good, community development and has been recognized as crucial in advancing <a href="http://www.undatarevolution.org/report/" target="_blank">global agendas</a>.</p>
						        </div>
						    </li>
						    <li class="accordion">
						        <a class="accordion-heading">
						        	<h4 class="accordion-title">How to participate?</h4>
						        	<span class="fa fa-plus-circle pull-right"></span>
						        </a>
						        <div class="accordion-body">
						        	<p>Candidates that are at least 15 and at most 25 years of age, with an interest and ideas about the use and reuse of public sector information, can apply for participation in the Open Data Youth Camp. Up to 30 candidates will be selected for participation, based on the ideas presented in the application form and while keeping in mind the need to respect regional and gender balance. In order to qualify candidates are asked to submit the filled out form no later than 4th August 2015, 00:00h CEST. The selection will be carried out by the expert representatives from the public, private and civil society sector in the field of open data. The costs of participation for the candidates will be covered by the organizers. Please direct any questions considering this event to tamara.puhovski@mvep.hr. We are looking forward to your applications.</p>
						        </div>
						    </li>
						</ul>
					</div>
				</section>

				<section id="register" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Chat with the team</h2>
							
							<p>You can start chat with other paticipants already today! Sign in to Slack and say hello to all:</p>

							<p>If you're a participant, you'll get invitation in your inbox for <a href="https://odbcteam.slack.com" target="_blank">ODBC Team on Slack</a>, or click this link.</p>

							<h4>See you online!</h4>

						</div>
					</div>
				</section>

				<!--===============================-->
				<!--== Blog =======================-->
				<!--===============================
				<section id="blog" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Blog</h2>
							<h4>Que esta pasando en la Comunidad AbreLatam</h4>
						</div>
						<div class="text-width">
							{% include feed-blog.html %}
						</div>
						<div class="text-right margin-top col-md-12 col-sm-12"><a class="btn btn-small" href="http://blog.abrelatam.org/" target="_blank">Ver todos los articulos</a></div>
					</div>
				</section>

-->
				<!--===============================-->
				<!--== Speakers ===================-->
				<!--===============================-->
				<section id="speakers" class="separated">
					<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Topics</h2>
								<h4>These are topics that we'll talk about.</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-01.jpg" alt="Speaker 1">
									</div>								
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Open Data Portal</h3>
								<p>Tomislav Vračić, Ministry of Public Administration, e-Citizen and Open Data Portal, Croatia</p>
								<p>Antonio Acuña, Head of data.gov.uk, Cabinet Office, Digital Change Architect</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-02.jpg" alt="Speaker 2">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Technology</h3>
								<p>Awa Ndiaye, Mairie de Paris, Direction des Systèmes et Technologies de l'Information, ideXlab, CUBB, France</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-03.jpg" alt="Speaker 3">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Applications</h3>
								<p>Ratko Mutavdžić, Founder and Experience Architect at Projektura, Croatian Employers' Association</p>
								<p>Marinko Brkić Tot, Founder & CEO of 5W, the5w.org</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-04.jpg" alt="Speaker 4">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Civil Society Engagement</h3>
								<p>Miroslav Schlossberg, Code for Croatia of Croatia Society for Open Systems and Internet, Croatia</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-05.jpg" alt="Speaker 5">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>OGP - Open Education</h3>
								<p>Jan Gondol, PhD., Ministry of Interior, Slovak Republic, Switzerlab</p>
								<p>Carlo Amati, OpenCoesione Advisory Committee, Italy</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="speaker">
								<div class="speaker-info">
									<div class="speaker-photo">
										<img src="images/demo/speakers/speaker-06.jpg" alt="Speaker 6">
									</div>
<!-- 									<div class="speaker-contacts">
										<a href="#" class="contact pull-left fa fa-facebook"></a>
										<a href="#" class="contact pull-right fa fa-twitter"></a>
									</div> -->
								</div>
								<h3>Transparency</h3>
								<p>Anamarija Musa, Information Commissioner, Croatia</p>
							</div>
						</div>
			<!-- 			<div class="text-center margin-top col-md-12 col-sm-12"><h4>¿Y a ti qué temas te gustaría tratar en #Abrelatam15? <a class="btn btn-small" href="https://docs.google.com/forms/d/1zyHKzLfII1Y6D-LIasFO07rEMUe3KeYpY5EoeuNwjDk/viewform" target="_blank">Cuéntanos</a></h4></div> -->
					</div>
				</section>
				<!--==========-->


				<!--===============================-->
				<!--== Agenda =======================-->
				<!--===============================-->
				<section id="agenda" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>Agenda</h2>
							<h4></h4>
						</div>
						<div class="text-width">
							{% include agenda.html %}
						</div>
					</div>
				</section>


				<!--===============================-->
				<!--== News =======================-->
				<!--===============================-->
				<section id="news" class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-header text-center">
							<h2>How to donate</h2>
							<h4>The Open Data Youth Camp would not be taking place without our sponsors and partners. If you would like to support this event by providing a scholarship for one of the participants (the scholarship for one person for a five day camp amounts to 250 Euro) please contact us.</h4>
						</div>
						<div class="text-width">

						</div>
					</div>
				</section>

				<section id="sponsors">
						<h2>Sponsors and Partners</h2>
						<h4>This event is made possible thanks to our sponsors and partners:</h4>
					{% include partners.html %}
				</section>

				
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>
			
			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-6">

							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/KodirajZaHrvatsku" class="fa fa-facebook" target="_blank"></a></li>
								<li><a href="https://twitter.com/codeforcroatia" class="fa fa-twitter"target="_blank"></a></li>
								<li><a href="https://vimeo.com/codeforcroatia/" class="fa fa-youtube" target="_blank"></a></li>
							</ul>

						</div>
						<div class="col-sm-6 text-right">
							<div class="copyrights">
								Webpage created by <a href="http://codeforcroatia.org/" target="_blank"><img src="{{ site.baseurl }}/images/cfc-footer.png"></a>
								<br>Based on <a href="https://github.com/ciudadanointeligente/abrelatam" target="_blank">ciudadanointeligente/abrelatam</a> source code
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/main.js"></script>

