				<!--===============================-->
				<!--== Schedule ===================-->
				<!--===============================-->
 				<section id="schedule" class="row">
					<div class="col-sm-12">
						<div class="content-tabs">
							<ul class="nav nav-tabs">
							  <li class="active"><a href="#tab1" data-toggle="tab">Day 1</a></li>
							  <li><a href="#tab2" data-toggle="tab">Day 2</a></li>
							  <li><a href="#tab3" data-toggle="tab">Day 3</a></li>
							  <li><a href="#tab4" data-toggle="tab">Day 4</a></li>
							  <li><a href="#tab5" data-toggle="tab">Day 5</a></li>
							  <li><a href="#tab6" data-toggle="tab">Day 6</a></li>
							  <li><a href="#tab7" data-toggle="tab">Day 7</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="tab1">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 13:00</time>
									        	<h4 class="accordion-title">Arrivals</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Arrivals and check ins of participants.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00 - 17:00</time>
									        	<h4 class="accordion-title">Intro</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Introduction from the organizers on OGP and Open Youth Academy.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>17:00 - 18:00</time>
									        	<h4 class="accordion-title">Forming Teams</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Forming working teams and introducing work process.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>18:00 - 20:00</time>
									        	<h4 class="accordion-title">Teambuilding</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Connecting, communicating and having fun.
									        </div>
									    </li>
									   
									        	
									        
									</ul>
								</div>
								<div class="tab-pane" id="tab2">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 11:00</time>
									        	<h4 class="accordion-title">Open Data expert debate</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Debate regarding importance and usage of Open Data 
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:00 - 13:00</time>
									        	<h4 class="accordion-title">SDGs expert debate</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Debate regarding Sustainable development goals.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00 - 16:00</time>
									        	<h4 class="accordion-title">Team debate with experts</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Brainstorming, discussing ideas.
									        </div>
									    </li>
									    
									</ul>
								</div>
								<div class="tab-pane" id="tab3">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 11:00</time>
									        	<h4 class="accordion-title">Team project development</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Teams working on their ideas with mentors helping.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:00 - 13:00</time>
									        	<h4 class="accordion-title">Ideas corner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	5 minute presentations of current projects or ideas from all participants

									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00 - 16:00</time>
									        	<h4 class="accordion-title">Team project development</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Teams working on their ideas.
									        </div>
									    </li>
									   
									</ul>
								</div>
								<div class="tab-pane" id="tab4">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 11:00</time>
									        	<h4 class="accordion-title">Team project finalising</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Finishing team projects.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:00 - 13:00</time>
									        	<h4 class="accordion-title">Ideas corner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	5 minute presentations of current projects or ideas from all participants.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00 - 16:00</time>
									        	<h4 class="accordion-title">Presentation preparations</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									       		Teams prepare presentations of their work.
									        </div>
									    </li>
									</ul>
								</div>
								<div class="tab-pane" id="tab5">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 13:00</time>
									        	<h4 class="accordion-title">Pitching Forum</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Teams present their work.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00 - 16:00</time>
									        	<h4 class="accordion-title">Group discussion</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Discussion about project improvement with experts from Pitching Forum
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>18:00 - 20:00</time>
									        	<h4 class="accordion-title">Closing dinner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Dinner for all participants.
									        </div>
									    </li>
									</ul>
								</div>	
								<div class="tab-pane" id="tab6">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 11:00</time>
									        	<h4 class="accordion-title">Field work with local government</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Implementing gained knowledge on work with local government.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:00 - 13:00</time>
									        	<h4 class="accordion-title">Local government press conference and closing panel</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Press conference and closing panel. 
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00 - 16:00</time>
									        	<h4 class="accordion-title">Tour of the city</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	City tour.
									        </div>
									    </li>
									</ul>
								</div>	
								<div class="tab-pane" id="tab7">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 11:00</time>
									        	<h4 class="accordion-title">Evaluation and discussing follow up plans</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Evaluation and follow up plans.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:00 - 12:00</time>
									        	<h4 class="accordion-title">Departure</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Departure of participants.
									        </div>
									    </li>
									    
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-sm-12">
					</div>
				</section>
