				<!--===============================-->
				<!--== Schedule ===================-->
				<!--===============================-->
 				<section id="schedule" class="row">
					<div class="col-sm-12">
						<div class="content-tabs">
							<ul class="nav nav-tabs">
							  <li class="active"><a href="#tab1" data-toggle="tab">Day 1</a></li>
							  <li><a href="#tab2" data-toggle="tab">Day 2</a></li>
							  <li><a href="#tab3" data-toggle="tab">Day 3</a></li>
							  <li><a href="#tab4" data-toggle="tab">Day 4</a></li>
							  <li><a href="#tab5" data-toggle="tab">Day 5</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="tab1">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast at Centar M.A.R.E.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00</time>
									        	<h4 class="accordion-title">Intro</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Introduction from the organizers on OGP and Open data Youth Camp.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>10:00</time>
									        	<h4 class="accordion-title">Opening Panel</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Experts presenting their experience, discussing open data and answering previously collected questions from the participants.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>12:30</time>
									        	<h4 class="accordion-title">Lunch</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Lunch on the site.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:30</time>
									        	<h4 class="accordion-title">Getting to know your team</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Icebreaker 1: locate your team members by identifying them through the team info package you will receive<br>
												Icebreaker 2: find one thing you have in common in your team and design a logo based on it.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>15:00</time>
									        	<h4 class="accordion-title">Prep and discussions with team mentor</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Good afternoon ODYCP, your mission should you choose to accept it involves… (discussing goals, rules and dynamic with the team expert mentor)
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>17:00</time>
									        	<h4 class="accordion-title">End of day</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
									</ul>
								</div>
								<div class="tab-pane" id="tab2">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast at Centar M.A.R.E.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00</time>
									        	<h4 class="accordion-title">Workshop 1: using open data</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Using Open Data for Greater Good.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:00</time>
									        	<h4 class="accordion-title">Lunch</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Lunch on the site.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00</time>
									        	<h4 class="accordion-title">Great Britain and France presentation</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Presentation of youth open data best practice: Great Britain and France.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>15:30</time>
									        	<h4 class="accordion-title">Pitching Forum</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	 Presenting team projects to all experts and participants.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>16:30</time>
									        	<h4 class="accordion-title">End of day</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
									</ul>
								</div>
								<div class="tab-pane" id="tab3">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast at Centar M.A.R.E.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00</time>
									        	<h4 class="accordion-title">Workshop 2: open data market</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	The Open Data Market.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:00</time>
									        	<h4 class="accordion-title">Lunch</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Lunch on the site.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00</time>
									        	<h4 class="accordion-title">Italy and Slovakia presentation</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Presentation of youth open data best practice: Italy and Slovakia.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>15:30</time>
									        	<h4 class="accordion-title">Pitching Forum</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	 Presenting team projects to all experts and participants.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>16:30</time>
									        	<h4 class="accordion-title">End of day</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
									</ul>
								</div>
								<div class="tab-pane" id="tab4">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast at Centar M.A.R.E.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00</time>
									        	<h4 class="accordion-title">Free day: Group work</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Free day / Group work.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>20:00</time>
									        	<h4 class="accordion-title">Dinner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Dinner for all the participants.
									        </div>
									    </li>
									</ul>
								</div>
								<div class="tab-pane" id="tab5">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast at Centar M.A.R.E.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00</time>
									        	<h4 class="accordion-title">Open Data Declaration</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Writing the Youth Open Data Declaration to be presented in Mexico.<br>
									        	Evaluation.<br>
									        	Ideas for Follow-up.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:30</time>
									        	<h4 class="accordion-title">Getting Use Out of Local Data</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Workshop with the representatives of the local government in Istria.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:30</time>
									        	<h4 class="accordion-title">Projects presentation and press conference</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	<strong>Presentation</strong> of group projects and media <strong>press</strong> conference.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>20:00</time>
									        	<h4 class="accordion-title">Farwell dinner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Dinner for all the participants.
									        </div>
									    </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-12">
					</div>
				</section>
