				<!--===============================-->
				<!--== Schedule ===================-->
				<!--===============================-->
 				<section id="schedule" class="row">
					<div class="col-sm-12">
						<div class="content-tabs">
							<ul class="nav nav-tabs">
							  <li class="active"><a href="#tab1" data-toggle="tab">Day 1</a></li>
							  <li><a href="#tab2" data-toggle="tab">Day 2</a></li>
							  <li><a href="#tab3" data-toggle="tab">Day 3</a></li>
							  <li><a href="#tab4" data-toggle="tab">Day 4</a></li>
							  <li><a href="#tab5" data-toggle="tab">Day 5</a></li>
							  <li><a href="#tab6" data-toggle="tab">Day 6</a></li>
							  <li><a href="#tab7" data-toggle="tab">Day 7</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="tab1">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 14:00</time>
									        	<h4 class="accordion-title">Arrivals</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Arrivals and check ins of participants.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00 - 17:00</time>
									        	<h4 class="accordion-title">Registration</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Introduction from the organizers on OGP and Open Youth Academy.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>17:00 - 18:00</time>
									        	<h4 class="accordion-title">Forming Teams</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Introduction from the organizers on OGP and Open Youth Academy.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>18:00 - 19:30</time>
									        	<h4 class="accordion-title">Teambuilding</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Forming working teams and introducing work process. Connecting, communicating and having fun.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>19:30</time>
									        	<h4 class="accordion-title">Dinner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
									        	
									        
									</ul>
								</div>
								<div class="tab-pane" id="tab2">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 11:00</time>
									        	<h4 class="accordion-title">Workshop on the 2030 agenda for sustainable development</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Debate regarding Sustainable development goals (SDGs).
									        </div>
									    </li>

									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:00 - 11:30</time>
									        	<h4 class="accordion-title">Coffee break</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:30 - 13:30</time>
									        	<h4 class="accordion-title">Open Data panel</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Debate regarding importance and usage of Open Data 
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:30 - 14:00</time>
									        	<h4 class="accordion-title">Lunch</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Lunch time.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:00 - 14:30</time>
									        	<h4 class="accordion-title">Brifing with the mentors on methodology</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Discussing methodology.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:30 - 17:30</time>
									        	<h4 class="accordion-title">Working in teams: Brainstorming</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
									    
									</ul>
								</div>
								<div class="tab-pane" id="tab3">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 13:00</time>
									        	<h4 class="accordion-title">Working in teams: Project development</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Teams working on their ideas with mentors helping.
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:00 - 13:45</time>
									        	<h4 class="accordion-title">Lunch</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Lunch time.
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:45 - 14:15</time>
									        	<h4 class="accordion-title">Ideas corner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	5 minute presentations of current projects or ideas from all participants

									        </div>
									    </li>

									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:15 - 17:15</time>
									        	<h4 class="accordion-title">Working in teams: Projects development</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
									    
									  
									</ul>
								</div>
								<div class="tab-pane" id="tab4">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 13:00</time>
									        	<h4 class="accordion-title">Working in teams: Finalising projects</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Finishing team projects.
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:00 - 13:45</time>
									        	<h4 class="accordion-title">Lunch</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Lunch time.
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:45 - 14:15</time>
									        	<h4 class="accordion-title">Ideas corner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	5 minute presentations of current projects or ideas from all participants.
									        </div>
									    </li>

									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>14:15 - 17:15</time>
									        	<h4 class="accordion-title">Working in teams: Finalising projects</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
								
									     
				
									</ul>
								</div>
								<div class="tab-pane" id="tab5">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 11:00</time>
									        	<h4 class="accordion-title">Prep time for pitching & Welcome to members of the expert panel</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Teams prepare for presentations.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:00 - 12:45</time>
									        	<h4 class="accordion-title">Pitching plenum</h4> 
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Presentations, Q&A, voting. Pitching Forum at the Univeristy of Pula<br> 3 minute pitch from every team <br>5 minute Q and A with experts <br> Pannel<br> Voting.
									        </div>
									 
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>12:45 - 13:00</time>
									        	<h4 class="accordion-title">Family photo</h4> 
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Presentations, Q&A, voting. Pitching Forum at the Univeristy of Pula<br> 3 minute pitch from every team <br>5 minute Q and A with experts <br> Pannel<br> Voting.
									        </div>
									 
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:00 - 13:30</time>
									        	<h4 class="accordion-title">Refreshments</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:30 - 15:00</time>
									        	<h4 class="accordion-title">Government consultations & NGO consultations & Private sector consultations</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Private sector follow up session <br>Pithcing follow up session <br> NGO pitching follow up session <br>Government pitching follow up sessions.
									        </div>
									    </li>

									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>15:00 - 15:45</time>
									        	<h4 class="accordion-title">Dinner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Dinner time.
									        </div>
									    </li>

									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>16:00 - 18:00</time>
									        	<h4 class="accordion-title">Working in teams: Finalasing projects</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>

									</ul>
								</div>	
								<div class="tab-pane" id="tab6">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 10:40</time>
									        	<h4 class="accordion-title">Introduction of Information Commissioner <br> Best practices on the local level (city of Pula, city of Rijeka, Croatian County Association, Omega Software)<br>Youth leading local goverment workshop <br></h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	City Hall.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>10:40 - 11:00</time>
									        	<h4 class="accordion-title">Coffee break</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Coffee break. 
									        </div>
									        </li>
									        
									        <li class="accordion">
									        <a class="accordion-heading">
									        	<time>11:00 - 12:30</time>
									        	<h4 class="accordion-title">Welcome speech by the mayor of Pula, Boris Miletić and County Mayor Valter Flego<br>

Closing panel of the Academy<br>
Information Commissioner, dr. Anamarija Musa<br>
HrOpen board member, Miroslav Schlossberg<br>
Open Government Partnership Independant Researcher, Ivona Mendeš<br>
Minister of Public Administration and the President of the Council of Open Government Partnership in Croatia, dr.sc. Dubravka Jurlina Alibegović<br>

Presentation of the Projects Created During the Academy<br>
Conclusions from the Open Data Workshop with Local Government<br>
Awards Ceremony and Closing<br>
</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Press conference - City Hall.
									        </div>
									    </li>
									        
									        <li class="accordion">
									        <a class="accordion-heading">
									        	<time>12:30 - 13:00</time>
									        	<h4 class="accordion-title">Lunch</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Lunch time.
									        </div>
									    
									    
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>13:00 - 14:30</time>
									        	<h4 class="accordion-title">Evaluation and discussing follow up plans</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Evaluation and follow up plans.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>19:00</time>
									        	<h4 class="accordion-title">Closing dinner</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	
									        </div>
									    </li>

									</ul>
								</div>	
								<div class="tab-pane" id="tab7">
									<ul class="accordion-group">
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>08:00 - 09:00</time>
									        	<h4 class="accordion-title">Breakfast</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Breakfast time. 
									        </div>
									    </li>
									    
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>09:00 - 18:00</time>
									        	<h4 class="accordion-title">Trip to Brijuni</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Trip to National Park Brijuni, tour of the park and free time.
									        </div>
									    </li>
									    <li class="accordion">
									        <a class="accordion-heading">
									        	<time>18:00</time>
									        	<h4 class="accordion-title">Departure</h4>
									        	<span class="fa fa-plus-circle pull-right"></span>
									        </a>
									        <div class="accordion-body">
									        	Departure of participants.
									        </div>
									    </li>
									    
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-sm-12">
					</div>
				</section>
