<!--===============================-->
<!--== Carousel ===================-->
<!--===============================-->
<section id="speakers" class="separated">
		<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Sponsors</h2>
							</div>
						</div>
		</div>
		
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item">
				<a href="http://www.verax.hr/">
					<img src="{{ site.baseurl }}/images/logos/Verax.jpg" alt="Verax savjetovanje">
				</a>
				</div>
				
			<div class="col-md-4 col-sm-6">
			<div class="item">
				<a href="http://www.omega-software.hr/">
					<img src="{{ site.baseurl }}/images/logos/omega.png" alt="Omega Software">
			</a></div>
			</div>
	
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
		<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Partners</h2>
							</div>
						</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item">
				<a href="http://www.opengovpartnership.org/">
					<img src="{{ site.baseurl }}/images/logos/ogp.png" alt="Open Government Partnership">
				</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.ambafrance-hr.org/-Francais-">
			<img src="http://i59.tinypic.com/14j0oxl.png" alt="French Embassy in Croatia">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="https://www.etalab.gouv.fr/les-18-25-ans-et-lopen-data">
			<img src="{{ site.baseurl }}/images/logos/etalab.png" alt="ETALAB">
			</a>
			</div>
			</div>
	
		</div>
		<div class="row">
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.pristupinfo.hr/">
			<img src="http://i57.tinypic.com/9sqdkh.jpg" alt="Povjerenica za informiranje">
			</a>
			</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
		
			<a href="http://www.open.hr/">
			<img src="{{ site.baseurl }}/images/logos/hropen.png" alt="Croatian society for open systems and Internet">
			</a>
			</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
		
			<a href="http://http://www.scpu.hr/hr/">
			<img src="{{ site.baseurl }}/images/logos/SCPU.PNG" alt="Studentski centar Pula">
			</a>
			</div>
			</div>
			
			
		</div>
		
		<div class="row">
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.netokracija.com//">
			<img src="{{ site.baseurl }}/images/logos/netokracija.jpg" alt="Netokracija">
			</a>
			</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
		
			<a href="http://http://www.pula.hr/">
			<img src="{{ site.baseurl }}/images/logos/Pula.PNG" alt="Grad Pula">
			</a>
			</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
		
			<a href="http://www.zelena-istra.hr/">
			<img src="{{ site.baseurl }}/images/logos/ZelenaIstra.jpg" alt="Zelena Istra">
			</a>
			</div>
			</div>
		</div>
			
		<div class="row">
			
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="https://gov.hr/">
			<img src="{{ site.baseurl }}/images/logos/govhr.PNG" alt="Središnji državni portal">
			</a>
			</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://hrvzz.hr/">
			<img src="{{ site.baseurl }}/images/logos/hzz.PNG" alt="Hrvatska zajednica županija">
			</a>
			</div>
			</div>
			
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.foi.unizg.hr/">
			<img src="{{ site.baseurl }}/images/logos/FOI.jpg" alt="FOI">
			</a>
			</div>
			</div>
		</div>	
		<div class="row">
				
				<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.hr.undp.org/content/croatia/hr/home.html">
			<img src="{{ site.baseurl }}/images/logos/UNDP.jpg" alt="UNDP HR">
			</a>
			</div>
			</div>
			
			
		</div>
</section>
<!--==========-->
