<!--===============================-->
<!--== Carousel ===================-->
<!--===============================-->
<section id="speakers" class="separated">
		<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Sponsors</h2>
							</div>
						</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/in2.png" alt="IN2"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/insako.png" alt="Insako"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/coe.png" alt="Centre of excellence"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/asseco.png" alt="Asseco South Eastern Europe"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/omega.png" alt="Omega Software"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/apis.png" alt="APIS IT"></div>
			</div>
	
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
		<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Partners</h2>
							</div>
						</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/ogp.png" alt="Open Government Partnership"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="http://i58.tinypic.com/2jdunk.png" alt="http://www.ambafrance-hr.org/-Francais-"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/etalab.png" alt="ETALAB"></div>
			</div>
		</div>
		<div class="row">
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/cabinet-office.png" alt="Cabinet Office"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/british-embassy-zag.png" alt="British Embassy Zagreb"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/mvep.png" alt="Ministry of Foreign Affairs in Croatia"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/mu.png" alt="Ministry of Administration in Croatia"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/uzuvrh.png" alt="Office for Cooperation with NGOs in Croatia"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/hropen.png" alt="Croatian society for open systems and Internet"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/mare.png" alt="Centar M.A.R.E."></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="{{ site.baseurl }}/images/logos/the5w.png" alt="The5Worg"></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item"><img src="http://i57.tinypic.com/9sqdkh.jpg" alt="Povjerenica za informiranje"></div>
			</div>
		</div>
</section>
<!--==========-->
