<!--===============================-->
<!--== Carousel ===================-->
<!--===============================-->
<section id="speakers" class="separated">
		<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Sponsors</h2>
							</div>
						</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="item">
					<a href="http://www.in2.hr/">
						<img src="{{ site.baseurl }}/images/logos/in2.png" alt="IN2">
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
				<a href="http://www.insako.hr/">
				<img src="{{ site.baseurl }}/images/logos/insako.png" alt="Insako">
				</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
				<a href="#">
				<img src="{{ site.baseurl }}/images/logos/coe.png" alt="Centre of excellence">
				</a>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://asseco.com/see/">
			<img src="{{ site.baseurl }}/images/logos/asseco.png" alt="Asseco South Eastern Europe">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.omega-software.hr/">
			<img src="{{ site.baseurl }}/images/logos/omega.png" alt="Omega Software">
			</a></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.apis-it.hr/">
			<img src="{{ site.baseurl }}/images/logos/apis.png" alt="APIS IT">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.projektura.hr/">
			<img src="http://i59.tinypic.com/105626c.jpg" alt="Projektura">
			</div>
			</a>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.microsoft.com/">
			<img src="http://i58.tinypic.com/2h71fsw.png" alt="Microsoft">
			</a></div>
			</div>
	
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
		<div class="row">
						<div class="col-sm-12">
							<div class="section-header text-center">
								<h2>Partners</h2>
							</div>
						</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item">
				<a href="http://www.opengovpartnership.org/">
					<img src="{{ site.baseurl }}/images/logos/ogp.png" alt="Open Government Partnership">
				</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.ambafrance-hr.org/-Francais-">
			<img src="http://i59.tinypic.com/14j0oxl.png" alt="French Embassy in Croatia">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="https://www.etalab.gouv.fr/en/">
			<img src="{{ site.baseurl }}/images/logos/etalab.png" alt="ETALAB">
			</a>
			</div>
			</div>
		</div>
		<div class="row">
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="https://www.gov.uk/government/organisations/cabinet-office">
			<img src="{{ site.baseurl }}/images/logos/cabinet-office.png" alt="Cabinet Office">
			</a></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="https://www.gov.uk/government/world/organisations/british-embassy-zagreb">
			<img src="{{ site.baseurl }}/images/logos/british-embassy-zag.png" alt="British Embassy Zagreb">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.mvep.hr/">
			<img src="{{ site.baseurl }}/images/logos/mvep.png" alt="Ministry of Foreign Affairs in Croatia">
			</a>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://uprava.gov.hr">
			<img src="{{ site.baseurl }}/images/logos/mu.png" alt="Ministry of Administration in Croatia">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://udruge.gov.hr/">
			<img src="{{ site.baseurl }}/images/logos/uzuvrh.png" alt="Office for Cooperation with NGOs in Croatia">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://vlada.gov.hr/">
			<img src="http://i59.tinypic.com/8vn1g1.jpg" alt="Vlada Republike Hrvatska">
			</a>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.cenar-mare.hr/">
			<img src="{{ site.baseurl }}/images/logos/mare.png" alt="Centar M.A.R.E.">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.the5w.org/">
			<img src="{{ site.baseurl }}/images/logos/the5w.png" alt="The5Worg">
			</a></div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.pristupinfo.hr/">
			<img src="http://i57.tinypic.com/9sqdkh.jpg" alt="Povjerenica za informiranje">
			</a>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.open.hr/">
			<img src="{{ site.baseurl }}/images/logos/hropen.png" alt="Croatian society for open systems and Internet">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.rovinj.hr">
			<img src="http://i57.tinypic.com/34i3cjd.jpg" alt="Grad Rovinj">
			</a>
			</div>
			</div>
			<div class="col-md-4 col-sm-6">
			<div class="item">
			<a href="http://www.tzgrovinj.hr/">
			<img src="http://i62.tinypic.com/2uj10mp.jpg" alt="Turistička zajednica grada Rovinja">
			</a>
			</div>
			</div>
			
		</div>
</section>
<!--==========-->
