				<!--===============================-->
				<!--== Video ======================-->
				<!--===============================-->
 				<section id="video" class="row">
					<div class="col-sm-12">
						<div class="section-header text-left">
							<h2>Video</h2>
							<h4>If you missed us on TV, check out below videos.</h4>
						</div>
					</div>
					<div class="col-md-7 col-sm-12">
						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/Ov-ClzG-zCE" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-5 col-sm-12">
						<h3>HRT: Open Data Youth Camp u Rovinju</h3>
						<hr/>
						<!-- <h4></h4>
						<hr/>
						<p></p> -->
					</div>

					<div class="col-md-7 col-sm-12">
						<div class="video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/0Z38gDEBQSo" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-5 col-sm-12">
						<h3>TV Istra: Open Data Youth Camp, Rovinj Croatia</h3>
						<hr/>
						<h4>-- Open Government Partnership</h4>
						<hr/>
						<p>The potential use of the data from the public sector in Croatia is insufficiently explored. Therefore, the Ministry of Foreign and European Affairs held a five-day camp for young people on the topic of open data and the results of the workshops were presented today at the Cultural Center of Rovinj.</p>
					</div>
				</section>
				<!--==========-->